.contact {
    grid-column: 1/-1;
    grid-row: 8/9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    background-color: #12376e;
    padding: 2rem 0;
}

.contact-heading {
    justify-self: end;
    font-size: 2rem;
    color: white;
}

.contact-form {
    display: flex;
}

.contact-form input {
    outline: none;
    padding: 0.4rem 1rem;
    border: 0.1rem solid white;
}

.contact-input {
    border-radius: 5rem 0 0 5rem;
    border-right: none;
}

.contact-btn {
    background-color: blue;
    color: wheat;
    border-radius: 0 5rem 5rem 0;
    border-left: none;
    transition: all 0.2s;
}

.contact-btn:hover {
    background-color: blue;
}